body { font-family: "Source Sans Pro", sans-serif }
body { background: #fafafa }
html { overflow-y: scroll }
#top.navbar { border-bottom: 1px solid rgba(153, 153, 153, 1) }
footer { text-align: right }
.title-shadow { text-shadow: 1px 1px rgba(0, 0, 0, 0.15) }
.user { font-weight: bold }
.user-red { color:red }
.user-yellow { color:#bbbb00 }
.user-violet { color:#aa00aa }
.user-orange { color:#ff8c00 }
.user-blue { color:blue }
.user-green { color:green }
.user-gray { color:gray }
.user-admin { color:black }
section.main > .container {
  border-box: box-sizing;
  background: #fff;
  padding: 15px 18px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-top: 0;
  border-left: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-bottom: 5px;
}
.link-text-black, .link-text-black a { color: #000000 }
